.pending {
  color: black;
  font-weight: bold;
  
}

.processing {
  color: orange;
  font-weight: bold;
}

.ready {
  color: blue;
  font-weight: bold;
}

.approved {
  color: green;
  font-weight: bold;
}

.rejected {
  color: red;
  font-weight: bold;
}

.completed {
  color: #a0a0a0;
  font-weight: bold;
}
