#black {
  color: black;
  font-weight: bold;
  
}

#orange {
  color: orange;
  font-weight: bold;
}

#yellow {
  color: blue;
  font-weight: bold;
}

#green {
  color: green;
  font-weight: bold;
}

#red {
  color: red;
  font-weight: bold;
}